*{box-sizing:border-box;margin:0;padding:0}
body{
  background-image: url('/Users/iliana/Downloads/PJJ/images/9A4320E0-DB7B-461E-84A4-E2D7660E2406.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px;
  background-color: #fbf6f2;
  box-shadow: 0 0px 15px rgba(204, 112, 97, 0.56);
  border-radius: 10px;
}

#header-left {
  display: flex;
  align-items: center;
  gap: 65px;
}

#panier img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#header-left form {
  display: flex;
  align-items: center;
  border: 1px solid #cc7061;
  border-radius: 20px;
  overflow: hidden;
}

#header-left input[type="text"] {
  background-color: #fbf6f2;
  border: none;
  padding: 5px 10px;
  outline: none;
  width: 200px;
}

#header-left button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

#header-left button img {
  width: 15px;
  height: 15px;
}

#header-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#header-center img {
  height: 130px;
  width: auto;
}

#header-right a {
  margin: 0 5px;
  text-decoration: none;
  color: #cc7061;
  font-weight: bold;
}

#header-right a:hover {
  text-decoration: underline;
  color: #cc7061;
}

#header-right span {
  margin: 0 3px;
  color: #cc7061;
}

footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  background-color: #fbf6f2;
  box-shadow: 0 0px 15px rgba(204, 112, 97, 0.56);
  border-radius: 10px;
}
